@import "../../common/styles/colors.scss";

.link-item {
    button {
        margin-right: 2rem;
        display: block;
        float: left;
        color: $dark_gray;
        font-size: 1.3rem;
        font-weight: 500;
    }

    button:hover {
        color: $base;
        text-decoration: none;  
    }
}

.lang {
    button {
        margin-right: 0rem;
    }

    display: inline-block;
    float: left;
    margin-left: .5rem;
}

.selected {
    border-bottom: 4px solid $base;
}